* {
    box-sizing: border-box;
    background-color: darkgray;
}

h1 {
    text-align: center;
    font-family: cursive;
    color: cyan;
    box-shadow: white;
}

table {
    margin: auto;
}

table tr td{
    border-style: solid;
    height: 50px;
    width: 50px;
    text-align: center;
    background-color: darkslateblue;
    margin: auto;
    border-radius: 5px;
}

table tr td:hover {
    color: darkturquoise;
}